---
- name: Deploy Code to dev-stage
  hosts: deploy-dev
  become: false
  roles:
    - {role: 00-ping, when: ansible_system == "Linux"}
    - {role: 07-deploy-project, when: ansible_system == "Linux"}
  vars:
    version: clickhouse # git branch
    home: "/home/retweets-dev"
    project_home: "/home/retweets-dev/project"
    ansible_user: retweets
    RABBITMQ_DEFAULT_USER: rabbituser
    RABBITMQ_DEFAULT_PASS: rabbitpassword
    MYSQL_USER: retweets
    MYSQL_DB: retweets
    MYSQL_PASSWORD: mysqlpassword
    MYSQL_ROOT_PASSWORD: mysqlrootpassword
  tags:
    - dev
